{% extends 'quotes/base.html' %}
{% block content %}
<h2>About {{ person }}</h2>
<p>Elon Reeve Musk FRS (born June 28, 1971) is a South African-born American businessman. He moved to Canada and later became a U.S. citizen.

    He became rich through several technology projects, including an online finance company which merged with PayPal in the year 2000.
    
    Musk is the current CEO & Chief Product Architect of Tesla, Inc., a company that makes electric vehicles. He is also the CEO of Solar City, a company that makes solar panels, and the CEO & CTO of SpaceX, an aerospace company.
    
    In 2022, he became the owner of the social media site Twitter after buying it for USD $44 billion.
    
    Musk is the wealthiest person in the world, according to both the Bloomberg Billionaires Index and Forbes's real-time billionaires list. In 2021, he was Time Person of the Year.</p>
<h2>About {{ creator }}</h2>
<p>Minseok Lee is the creator of this website and also a CS student at Boston University.</p>
{% endblock %}