<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    {% load static %}
    <link rel="stylesheet" href="https://cs-people.bu.edu/mslee300/styles2.css">
</head>
<body>
    <header>
        <h1>Welcome to Lumiére Nexus</h1>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Main</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>