{% extends 'mini_fb/base.html' %}
{% block content %}

<h1>News Feed</h1>

{% for status in news_feed %}
    <div class="status">
        <div class="status-header">
            <img src="{{ status.profile.profile_image_url }}" alt="{{ status.profile.first_name }}'s profile image" class="profile-image">
            <span class="profile-name">{{ status.profile.first_name }} {{ status.profile.last_name }}</span>
            <span class="timestamp">{{ status.timestamp|date:"M. d, Y, g:i a" }}</span>
        </div>
        <p class="status-message">{{ status.message }}</p>
        
        {% if status.get_images %}
            <div class="status-images">
                {% for img in status.get_images %}
                    <img src="{{ img.image_file.url }}" alt="Image for status message" class="status-image">
                {% endfor %}
            </div>
        {% endif %}
        <hr>
    </div>
{% endfor %}

<a href="{% url 'show_profile' %}">Back to Profile</a>

{% endblock %}
