{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>All Profiles</h2>
<table>
    {% for profile in profiles %}
    <tr>
        <td style="text-align: center;">
            <img src="{{ profile.profile_image_url }}" alt="Profile Image" width="150"><br>
            <span style="font-weight: bold; color: navy;">{{ profile.first_name }} {{ profile.last_name }}</span><br>
            <span style="color: grey;">{{ profile.city }}</span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
