<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes App</title>
    {% load static %}
    <link rel="stylesheet" href="https://cs-people.bu.edu/mslee300/a03/styles.css">
</head>
<body>
    <header>
        <h1>Quote Website</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/show_all">Show All</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>